<Root>
  <Area>
    <AreaName>测试1</AreaName>
    <Action>
      <ActionName>TCP</ActionName>
      <ActionReceiveData>111</ActionReceiveData>
      <Operation>
        <OperationName>aaa</OperationName>
        <OperationType>TCP</OperationType>
        <OperationDataType>Character</OperationDataType>
        <OperationData>aaabbb</OperationData>
        <OperationTime>1</OperationTime>
        <OperationSetting>
          <IP>192.168.1.107</IP>
          <Port>10000</Port>
        </OperationSetting>
      </Operation>
      <Operation>
        <OperationName>bbb</OperationName>
        <OperationType>TCP</OperationType>
        <OperationDataType>Hex</OperationDataType>
        <OperationData>4130310D</OperationData>
        <OperationTime>1</OperationTime>
        <OperationSetting>
          <IP>192.168.1.107</IP>
          <Port>10000</Port>
        </OperationSetting>
      </Operation>
    </Action>
  </Area>
  <Area>
    <AreaName>测试2</AreaName>
    <Action>
      <ActionName>串口</ActionName>
      <ActionReceiveData>222</ActionReceiveData>
      <Operation>
        <OperationName>bbb</OperationName>
        <OperationType>Com</OperationType>
        <OperationDataType>Hex</OperationDataType>
        <OperationData>4130310D</OperationData>
        <OperationTime>1</OperationTime>
        <OperationSetting>
          <ComNumber>com2</ComNumber>
          <BaudRate>9600</BaudRate>
          <DataBit>8</DataBit>
          <StopBit>1</StopBit>
          <Parity>None</Parity>
        </OperationSetting>
      </Operation>
    </Action>
  </Area>
  <TimeShaft>
    <Action>
      <ActionName>eqweqwe</ActionName>
      <ActionReceiveData>wqewqe</ActionReceiveData>
      <Operation>
        <OperationName>sadsad</OperationName>
        <OperationType>TCP</OperationType>
        <OperationDataType>Character</OperationDataType>
        <OperationData>asfsafasf</OperationData>
        <OperationTime>661000</OperationTime>
        <OperationSetting>
          <IP>192.168.1.155</IP>
          <Port>8889</Port>
        </OperationSetting>
      </Operation>
    </Action>
    <Action>
      <ActionName>eqweqwe</ActionName>
      <ActionReceiveData>wqewqe</ActionReceiveData>
      <Operation>
        <OperationName>sadsad</OperationName>
        <OperationType>TCP</OperationType>
        <OperationDataType>Character</OperationDataType>
        <OperationData>asfsafasf</OperationData>
        <OperationTime>661000</OperationTime>
        <OperationSetting>
          <IP>192.168.1.155</IP>
          <Port>8889</Port>
        </OperationSetting>
      </Operation>
    </Action>
    <Action>
      <ActionName>eqweqwe</ActionName>
      <ActionReceiveData>wqewqe</ActionReceiveData>
      <Operation>
        <OperationName>sadsad</OperationName>
        <OperationType>TCP</OperationType>
        <OperationDataType>Character</OperationDataType>
        <OperationData>asfsafasf</OperationData>
        <OperationTime>661000</OperationTime>
        <OperationSetting>
          <IP>192.168.1.155</IP>
          <Port>8889</Port>
        </OperationSetting>
      </Operation>
    </Action>
    <Action>
      <ActionName>eqweqwe</ActionName>
      <ActionReceiveData>wqewqe</ActionReceiveData>
      <Operation>
        <OperationName>sadsad</OperationName>
        <OperationType>TCP</OperationType>
        <OperationDataType>Character</OperationDataType>
        <OperationData>asfsafasf</OperationData>
        <OperationTime>661000</OperationTime>
        <OperationSetting>
          <IP>192.168.1.155</IP>
          <Port>8889</Port>
        </OperationSetting>
      </Operation>
    </Action>
  </TimeShaft>
</Root>